* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-texto: #ffffff;
    --cor-cinza-claro: #cfcfcf;
    --cor-cinza-escuro: #747474;
    --cor-preta-transparente: rgba(0, 0, 0, 0.459);
}

body {
    font-family: "Nunito", sans-serif;
    color: var(--cor-texto);
}

/* Página de Registro */
main.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-cinza-escuro);
    /* Ajuste a cor conforme necessário */
    padding: 2rem;
}

section.register-container {
    background-color: var(--cor-texto);
    box-shadow: 0px 4px 10px var(--cor-preta-transparente);
    border-radius: 8px;
    padding: 2rem;
    max-width: 600px;
    width: 100%;
    gap: 40px;
    margin-top: 40px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--cor-cinza-escuro);
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Estilização dos Fieldsets */
fieldset {
    border: 2px solid var(--cor-texto);
    border-radius: 8px;
    padding: 1.5rem;
}

legend {
    font-size: 1.2rem;
    color: var(--cor-cinza-escuro);
    padding: 0 0.5rem;
}

/* Estilização de Rótulos e Inputs */
label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--cor-cinza-escuro);
    display: block;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 4px;
    background-color: var(--cor-texto);
    transition: border 0.2s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
    color: #aaa;
}

/* Botão de Envio */
button.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}

button.submit-btn:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    section.register-container {
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    input,
    select,
    textarea {
        font-size: 0.9rem;
        padding: 0.6rem;
    }

    button.submit-btn {
        padding: 0.6rem;
        font-size: 0.9rem;
    }
}