.container-slide {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex; /* Garante que o conteúdo esteja centralizado */
    justify-content: center;
    align-items: center;
}

.slide-item {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
