section.register-container {
    margin-top: 8rem;
    width: 95%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  .client-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f4f4f4;
    color: #333;
    table-layout: auto;
    margin-top: 1rem;
    margin-bottom: 0;
    overflow-x: auto;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border: 1px solid #ccc;
    color: #333;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
  }
  
  th {
    background-color: #333;
    color: #fff;
  }
  
  td {
    background-color: #eaeaea;
  }
  
  tr:nth-child(even) td {
    background-color: #d5d5d5;
  }
  
  tr:nth-child(odd) td {
    background-color: #eaeaea;
  }
  
  @media (max-width: 768px) {
    section.register-container {
      padding: 0 1rem;
      width: 100%;
      max-width: none;
    }
  
    .client-table {
      font-size: 0.9rem;
    }
  
    th, td {
      padding: 0.6rem;
    }
  }
  

  button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #d32f2f;
  }
  